In [14]:
import pandas as pd

In [15]:
movie_reviews = pd.read_csv('IMDB Dataset.csv').filter(['review'])

In [16]:
reviews = list(movie_reviews['review'])

In [17]:
movie_synopses = pd.read_csv(r'movies_metadata.csv', low_memory=False, dtype='string').filter(['overview'])
synopses = list(movie_synopses['overview'])

In [18]:
# view null values
i = 0
for s in synopses:
    if pd.isna(s):
        i += 1
print('there are ' + str(i) + ' null values')

there are 954 null values

In [19]:
# get rid of null rows

init_len = len(synopses)

print('length of synopses with null values: ' + str(init_len))

synopses = list(filter(lambda x: not pd.isna(x), synopses))

print('length of synopses without null values: ' + str(len(synopses)))
print('Difference: ' + str(init_len - len(synopses)))

length of synopses with null values: 45466
length of synopses without null values: 44512
Difference: 954

In [20]:
# downsample reviews
reviews = reviews[:len(synopses)]

In [21]:
len(reviews) == len(synopses), len(reviews), len(synopses)

(True, 44512, 44512)

In [22]:
df = pd.DataFrame()
data = reviews + synopses
len(data), len(data)/2, len(reviews), len(reviews)

(89024, 44512.0, 44512, 44512)

In [23]:
data = [text[:240] for text in data]

In [24]:
df.insert(loc=0, column='text', value = data)

In [25]:
print('LAST REVIEW: ' + str(df['text'][44511][211:263]))
print('FIRST SYNOPSIS: ' + str(df['text'][44512][80:180]))

LAST REVIEW: this film is definitely dated
FIRST SYNOPSIS: Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz.

In [26]:
# Label the reviews/synopses
size = len(data)
labels = []
for i in range(size):
    if i < size/2:
        labels.append('Subjective')  # first half of dataframe are reviews
    else:
        labels.append('Objective')  # second half are synopses

In [27]:
df['Labels'] = labels

In [28]:
print('LAST REVIEW label: ' + str(df['Labels'][44511].upper()))
print('FIRST SYNOPSIS label: ' + str(df['Labels'][44512].upper()))

LAST REVIEW label: SUBJECTIVE
FIRST SYNOPSIS label: OBJECTIVE

In [29]:
# randomize order of dataset
from sklearn.utils import shuffle
df = df.sample(frac=1)
df = df.sample(frac=1)
df = shuffle(df)
df = shuffle(df)

In [30]:
df

                                                    text      Labels
33107  Chang Cheh's "Shaolin Temple" might very well ...  Subjective
10365  The only print of CHIKAMATUS MONOGATARI I've b...  Subjective
30206  This one took me by surprise because i had oft...  Subjective
2789   DON'T TORTURE A DUCKLING (Lucio Fulci - Italy ...  Subjective
69579  Bus Riley, once his small town's hot high-scho...   Objective
...                                                  ...         ...
35375  I rented this tape a couple of years ago, and ...  Subjective
30578  After 10 years, it is finally save to say that...  Subjective
30524  This movie is a blatant attempt by the left in...  Subjective
61038  Don't be fooled by the title. Christmas Holida...   Objective
72713  An enterprising reporter takes along four will...   Objective

[89024 rows x 2 columns]

In [33]:
df = df.reset_index(drop=True)
df['text'][61038]

"Wan Tin-Sau is an actor who cannot seem to catch a break, since his only professional jobs are limited to being a movie extra. As well as being an actor, he is also the head of his village's community center."

In [34]:
df['Labels'][61038]

'Objective'